<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="time_loggerFrame">
		<title>Time Logger</title>
		<icon stock_id="wxART_NORMAL_FILE" stock_client="wxART_OTHER" />
		<id_arg>0</id_arg>
		<object class="wxGridSizer" variable="GridSizer6" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>1</cols>
					<rows>2</rows>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer1" member="no">
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label></label>
									<size>180,90</size>
									<font>
										<size>56</size>
										<style>normal</style>
										<weight>normal</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Sans</face>
									</font>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>2</cols>
									<rows>2</rows>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
										<size>30,20</size>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
											<label>Current time:</label>
											<font>
												<size>20</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
										<size>30,20</size>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
											<label></label>
											<font>
												<size>24</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>2</cols>
							<rows>1</rows>
							<object class="sizeritem">
								<object class="wxGridSizer" variable="GridSizer1" member="no">
									<cols>4</cols>
									<rows>3</rows>
									<vgap>10</vgap>
									<hgap>10</hgap>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
											<label>1</label>
											<size>170,170</size>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton1Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
											<label>2</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton2Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
											<label>3</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton3Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
											<label>4</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton4Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON5" variable="Button5" member="yes">
											<label>5</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton5Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON6" variable="Button6" member="yes">
											<label>6</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton6Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON7" variable="Button7" member="yes">
											<label>7</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton7Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON8" variable="Button8" member="yes">
											<label>8</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton8Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON9" variable="Button9" member="yes">
											<label>9</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton9Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON13" variable="Button13" member="yes">
											<label>0</label>
											<font>
												<size>56</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton13Click1" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>20</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>1</cols>
									<rows>5</rows>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON10" variable="Button10" member="yes">
											<label>&lt;--</label>
											<size>170,85</size>
											<font>
												<size>32</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton12Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
										<size>20,85</size>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON11" variable="Button11" member="yes">
											<label>Cancel</label>
											<size>170,85</size>
											<font>
												<size>26</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton13Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
										<size>20,85</size>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON12" variable="Button12" member="yes">
											<label>Enter</label>
											<size>170,170</size>
											<font>
												<size>40</size>
												<style>normal</style>
												<weight>normal</weight>
												<underlined>0</underlined>
												<family>swiss</family>
												<face>Sans</face>
											</font>
											<handler function="OnButton11Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>20</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-10</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer1" member="yes">
			<interval>100</interval>
			<handler function="OnTimer1Trigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
